{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="row  mt-5">
    <div class="col-4 mx-auto text-center">
        <img src="{{asset("assets/img/win.jpg")}}" height="200px">
    </div>
</div>
<p class="fs-1 text-center mt-5">Votre compte a été crée avec succès <br> Veuillez vous rendre au bureau de l'administrateur pour l'attribution vos droits d'accès </p>
{% endblock %}
