{% extends 'CDADashboardBase.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
        <img src="{{asset("assets/img/win.jpg")}}" height="200px">

<p class="fs-1 text-center mt-5">Votre demande d'empotage a été enregistrer avec succès <br> Vous serez contacté par un agent pour la visite</p>
{% endblock %}
